 body {
    font-family: Arial, sans-serif;
}

.login, .register {
    display: none;
}

/* Style cho trang đăng nhập */
.login {
    display: block;
}  

/* Style cho trang đăng ký */
.register {
    display: block;
}


header {
    text-align: center;
    padding: 5px;
}

.login form{
    text-align: center;
    width: 50%;
    height: auto; 
    margin: 0 auto;
    line-height: 1.5;
}

.register form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    display: inline-block;
    margin-bottom: 0px; 
}


.text {
    padding-left: 400px;
    display: inline-block;
    margin: 10px; /* Khoảng cách giữa các phần tử xung quanh */
    line-height: 30px; /* Khoảng cách giữa các dòng */
}

.input{
    display: inline-block;
    line-height: 30px; /* Khoảng cách giữa các dòng */
}

.clearfix{
    line-height: 40px; 
    padding-left: 400px;
    text-align: center;
}

form.addTask {
    display: flex;
    justify-content: center;
    flex-direction: column;
    display: inline-block;
    margin-bottom: 10px; 
    line-height: 25px;
}


form.addTask .text {
    padding-left: 450px;
    display: inline-block;
    margin: 10px; /* Khoảng cách giữa các phần tử xung quanh */
    line-height: 30px; /* Khoảng cách giữa các dòng */
} 
